<div class="container">
<div class="row">
<h3 class="bg-secondary">会員情報編集</h3>
</div>

<div class="row">
<%= form_with model: @customer, url: customers_information_path(@customer), method: :patch do |f| %>
  <table>
    <tr>
      <td>氏名</td>
      <td><%= f.text_field :last_name %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td><%= f.text_field :last_name_kana %></td>
      <td><%= f.text_field :first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= f.text_field :postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address, size:40 %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= f.text_field :phone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= f.text_field :email %></td>
    </tr>
  </table>
</div>

<div class="row">
  <div class="col-lg-4">
  <%= f.submit '編集内容を保存',class:"btn btn-success" %>
  </div>
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
  <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger" %>
<% end %>
  </div>
</div>

</div>

