<div class="container">
<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>
<div class="row">
<h3 class="bg-secondary">マイページ</h3>
</div>

<div class="row">
<h3 class="font-weight-bolder">登録情報</h3>
<%= link_to "編集する", customers_information_edit_path, class: "btn btn-success" %>
</div>

<div class="row">
<table border ="1">
  <tr>
    <td>氏名</td>
    <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
  </tr>
  <tr>
    <td>カナ</td>
    <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
  </tr>
  <tr>
    <td>郵便番号</td>
    <td><%= @addresses.postal_code %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= @addresses.address %></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%= @customer.phone_number %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @customer.email %></td>
  </tr>
</table>
</div>


<div class="row">
<h3 class="font-weight-bolder">配送先</h3>
<%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>
</div>

<div class="row">
<h3 class="font-weight-bolder">注文一覧</h3>
<%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
</div>

</div>

