<div class="container justify-content-center">
  <div class="row mt-4">
    <div class="col-2">
      <h1 style="background-color: rgba(207, 247, 153, 1.0)">商品一覧</h1>
    </div>
    <div class="col-2 offset-8">
      <%= link_to "+", new_admin_item_path, class: "btn btn-secondary btn-circle" %>
    </div>

    <div class="col-10">
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item.id) %></td>
              <td><%= number_to_currency(item.price, unit: "", precision: 0) %></td>
              <td><%= item.genre.name %></td>
            <% if item.is_active %>
              <td class="text-success">販売中</td>
            <% else %>
              <td class="text-danger">販売停止中</td>
            <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-5 text-center">
      <div class="pagination" style="font-size: 24px;">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>
