<div class="container">
  <div class="row mt-4 text-center">
    <div class="col-3 offset-lg-2" style="background-color: rgba(207, 247, 153, 1.0)">
      <h3>管理者ログイン</h3>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col text-center">
      <table class="mx-auto">

           <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <tr>
                <th class="text-center">
                  <div class="field">
                  <%= f.label :メールアドレス %>
                  </div>
                </th>

                <td class="text-center">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
                </td>
              </tr>
                
              <tr>
                <th class="text-center">
                  <div class="field">
                  <%= f.label :パスワード %>
                  </div>
                </th>

                <td class="text-center">
                  <%= f.password_field :password, autocomplete: "current-password" %>

                </td>
              </tr>

              <tr>
                <th></th>
                
                <td class="text-center">
                  <div class="actions" >
                  <%= f.submit "ログイン", class: "btn btn-primary" %>
                  </div>
                  <% end %>
                </td>
              </tr>
            </table>
    </div>
  </div>
</div>

<%= render "admin/shared/links" %>
