<div class="container justify-content-center">
  <div class="row">
    <div class="col-10 text-left pl-5">
      <h1>注文履歴詳細</h1>
    </div>
    <div class="col-10 text-left">
      <%= form_with model: @order, url: admin_order_path(@order), method: :patch do |f| %>
        <table class="table table-borderless">
          <tr>
            <td><b>購入者</b></td>
            <td><%= "#{@order.customer.last_name} #{@order.customer.first_name}" %></td>
          </tr>
          <tr>
            <td><b>注文日</b></td>
            <td><%= @order.created_at.to_date %></td>
          </tr>
          <tr>
            <td><b>配送先</b></td>
            <td><%= @order.full_address %></td>
          </tr>
          <tr>
            <td><b>支払方法</b></td>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <td><b>注文ステータス</b></td>
            <td>
              <%= f.select :status, Order.statuses_i18n.invert.to_a %>
              <%= f.submit "更新", class: "btn btn-success" %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>

    <div class="col-8">
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @order_details.each do |order_detail| %>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
              <tr>
                <td><%= order_detail.item.name %></td>
                <td><%= order_detail.price %></td>
                <td><%= order_detail.amount %></td>
                <td><%= order_detail.subtotal %></td>
                <td>
                  <%= f.select :cooking_status, OrderDetail.cooking_statuses_i18n.invert.to_a %>
                  <%= f.submit "更新", class: "btn btn-success" %>
                </td>
              </tr>
              <% @sum += order_detail.subtotal %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-3 offset-1">
      <table class="table table-borderless mt-3">
        <tr>
          <td><b>商品合計</b></td>
          <td><%= "#{number_to_currency(@total, unit: "", precision: 0)}" %></td>
        </tr>
        <tr>
          <td><b>送料</b></td>
          <td><%= "#{number_to_currency(@order.postage, unit: "", precision: 0)}" %></td>
        </tr>
        <tr>
          <td><b>請求金額合計</b></td>
          <td>
            <% @total_payment += @order.postage + @sum %>
            <%= "#{number_to_currency(@order.total_payment, unit: "", precision: 0)}" %>
          </td>
        </tr>
      </table>
      </div>

    </div>
  </div>
</div>

