<h1>注文履歴一覧</h1>

<table>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to l(order.created_at), admin_order_path(order.id) %></td>
      <td><%= "#{order.customer.last_name}#{order.customer.first_name}" %></td>
      <td><%= order.order_details.sum(:amount) %></td>
      <td><%= order.status_jp %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="paginate">
  <%= paginate @orders %>
</div>

<style>

  .paginate {
      display: flex;
      justify-content: center;
      font-size: 24px;
    }

</style>