<div class="container">

  <div class="row">
    <h3 class="bg-secondary">配達先編集</h3>
  </div>

    <%= form_with model: @address, url: address_path(@address.id), method: :patch do |f| %>
      <div class="row">
       <div>郵便番号(ハイフンなし)</div>
         <%= f.text_field :postal_code %>
       </div>
      
      <div class="row">
        <div>住所</div>
        <%= f.text_field :address, size: 50 %>
      </div>
        
      <div class="row">
        <div>氏名</div>
        <%= f.text_field :name %>

        <%= f.submit '変更内容を保存',class:"btn btn-success" %>
        <% end %>
      </div>