<div class="container">

  <div class="row mt-4">
    <h3 style="background-color: rgba(207, 247, 153, 1.0)">配達先編集</h3>
  </div>

    <%= form_with model: @address, url: address_path(@address.id), method: :patch do |f| %>
      <div class="row mt-3">
        <div class="col-lg-3 offset-1">
          <span>郵便番号(ハイフンなし)</span>
        </div>
        <div class="col-lg-8 text-left">
         <%= f.text_field :postal_code %>
        </div>
      </div>
      
      <div class="row mt-3">
          <div class="col-lg-3 offset-1">
            <span>住所</span>
          </div>
          <div class="col-lg-8 text-left">
            <%= f.text_field :address, size: 50 %>
          </div>
      </div>
        
      <div class="row mt-3">
          <div class="col-lg-3 offset-1">
            <span>氏名</span>
          </div>
          <div class="col-lg-5 text-left">
            <%= f.text_field :name %>
          </div>
          <div class="col-lg-3 text-right">
            <%= f.submit '変更内容を保存',class:"btn btn-success" %>
          </div>
            <% end %>
      </div>