<h2>配達先編集</h2>

<%= form_with model: @address, url: address_path(@address.id), method: :patch do |f| %>
  <table>
    <tr>
      <td>郵便番号(ハイフンなし)</td>
      <td><%= f.text_field :postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address, size: 50 %></td>
    </tr>
    <tr>
      <td>氏名</td>
      <td><%= f.text_field :name %></td>
      <td>  <%= f.submit '変更内容を保存',class:"btn btn-success" %></td>
    </tr>
  </table>
  <% end %>