<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
      <p>
      ショッピングカート
      <%= link_to 'カートを空にする', cart_items_destroy_all_path,method: :delete, class: "btn btn-sm btn-danger" %>
      </p>

      <table class='table table-hover table-inverse'>
        <tr>
          <th>
          商品名
          </th>
          <th>
          単価（税込）
          </th>
          <th>
          数量
          </th>
          <th>
          小計
          </th>
          <th>
          </th>
        </tr>
   
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= cart_item.item.name %>
              </td>
              <td>
                <%= number_to_currency(cart_item.item.with_tax_price, unit: "¥", precision: 0) %>
              </td>
              <td>
              <%= form_with model: cart_item, method: :patch do |f| %>
                <%= f.select :amount, *[1..9] %>
                <%= f.hidden_field :item_id, value: cart_item.item_id %>
                <%= f.submit "変更", class: "btn btn-success btn-sm" %>
              <% end %>
              </td>
              <td>
                <%= number_to_currency(cart_item.subtotal, unit: "¥", precision: 0) %>
              </td>
              <td>
                <%= link_to '削除する', cart_item_path(cart_item.id),method: :delete, class: "btn btn-sm btn-danger" %>
              </td>
            </tr>
            <% @sum +=  cart_item.subtotal %>
            <% end %>
       
      </table>
     <%= link_to '買い物を続ける', root_path, class: "btn btn-sm btn-primary" %>
     <table>
       <tr>
         <th>
           合計金額
         </th>
         <th>
          <%= number_to_currency(@sum, unit: "¥", precision: 0) %>
         </th>
       </tr>
     </table>
     
     <br>
     <%= link_to '情報入力に進む', new_order_path, class: "btn btn-sm btn-success" %>
    </div>
  </div>
</div>