<div class='container'>
  <div class="row">
    <h3 style="background-color: rgba(60, 60, 60, 0.3)">注文情報確認</h3>
  </div>

  <div class="row">
    <div class="col-lg-9">
      <%= form_with model: @order,method: :post,url:orders_path do |f| %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                商品名
             </th>
             <th>
               単価（税込）
             </th>
             <th>
               数量
             </th>
             <th>
               小計
             </th>
            </tr>
         </thead>
         <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= cart_item.item.name %>
              </td>
              <td>
                <%= number_to_currency(cart_item.item.with_tax_price, unit: "", precision: 0) %>
              </td>
              <td>
                <%= cart_item.amount %>
              </td>
              <td>
                <%= number_to_currency(cart_item.subtotal, unit: "", precision: 0) %>
              </td>
            </tr>
              <% @sum +=  cart_item.subtotal %>
          <% end %>
         </tbody>
        </table>
    </div>

    <div class="col-lg-3">
      <table class="table table-bordered">
        <tr>
          <th>
            送料
          </th>
          <th>
            <%= @order.postage %>
         </th>
        </tr>
        <tr>
          <th>
            商品合計
          </th>
          <td>
            <%= number_to_currency(@sum, unit: "", precision: 0) %>
          </td>
        </tr>
        <tr>
          <th>
            請求金額
          </th>
          <td>
            <% @total_payment += @order.postage + @sum %>
            <%= number_to_currency(@total_payment, unit: "", precision: 0) %>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-2">
     <h3>支払方法</h3>
    </div>
    <div class="col-lg-3">
     <%= @order.payment_method_i18n %>
    </div>
    <div class="col-lg-7"></div>
  </div>

  <div class="row">
    <div class="col-lg-2">
      <h3>お届け先</h3>
    </div>
    <div class="col-lg-3">
      <%= "〒" + @order.postal_code %>
      <%= @order.address %>
    </div>
    <div class="col-lg-7"></div>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-7">
      <%= @order.name %>
    </div>
    <div class="col-lg-3"></div>
  </div> 


  <div class="row">
    <div class="col-lg-12 text-center">
      <%= f.hidden_field :customer_id, value: current_customer.id %>
      <%= f.hidden_field :name, value: @order.name %>
      <%= f.hidden_field :postal_code, value: @order.postal_code %>
      <%= f.hidden_field :address, value: @order.address %>
      <%= f.hidden_field :payment_method, value: @order.payment_method %>
      <%= f.hidden_field :postage, value: @order.postage %>
      <%= f.hidden_field :total_payment, value: @total_payment %>
      <%= f.submit "注文を確定する", class: "btn btn-success btn-sm" %>
      <% end %>
    </div>
  </div>
</div>