<div style="display: flex;">
  <div>
    <%= image_tag @item.image, size: "300x300" %>
  </div>

  <div>
    <div style="font-size: 36px;"><b><%= @item.name %></b></div>
    <div style="font-size: 36px; margin-bottom: 30px;"><%= @item.caption %></div>
    <div style="font-size: 36px; margin-bottom: 20px;">
      <b><%= number_to_currency(@tax_include_price, unit: "￥", precision: 0) %></b>
      <span style="font-size: 60%;">(税込)</span>
    </div>

    <%= form_with model: @item, url: cart_items_path(current_customer) do |f| %>
      <span style="padding-right: 60px;"> <%= f.select :amount, *[1..10] %></span>
      <%= f.submit "カートに入れる", class: "btn btn-success" %>
    <% end %>
  </div>
</div>